<nav id="main-menu">
	<div class="brand">
		Vše Pro Párty
	</div>

	<ul class="menu-items">
		<li class="active"><a href="{$base}">Hlavní stránka</a></li>
		<li><a href="{$base}">Obchod</a></li>
		<li><a href="{$base}">Půjčovna</a></li>
	</ul>
</nav>