html {
  background-color: rgba(255, 255, 54, 0.7);
}
#page-wrapper {
  position: relative;
  background-color: inherit;
  /*background: url(../svg/sunrays.svg) @yellowLight center; <- fuck them */
  background-size: cover;
}
#eshop-menu-container {
  text-align: left;
}
#eshop-menu-container > ul {
  position: fixed;
}
#eshop-menu-container .uk-parent a {
  color: #242424;
}
#eshop-menu-container .uk-parent a:hover {
  color: red;
}
#eshop-menu-container .uk-parent > a {
  font-size: 2em;
  font-weight: bold;
}
#eshop-menu-container .uk-parent ul a {
  font-size: 1.5em;
}
/* copy from mainpage logo */
#eshop-logo {
  text-align: center;
  color: yellow;
  font-size: 6em;
  line-height: 1em;
  font-family: "Times New Roman";
  text-shadow: -2px -2px 0 red, -2px -1px 0 red, -2px 0px 0 red, -2px 1px 0 red, -2px 2px 0 red, -1px -2px 0 red, -1px -1px 0 red, -1px 0px 0 red, -1px 1px 0 red, -1px 2px 0 red, 0px -2px 0 red, 0px -1px 0 red, 0px 0px 0 red, 0px 1px 0 red, 0px 2px 0 red, 1px -2px 0 red, 1px -1px 0 red, 1px 0px 0 red, 1px 1px 0 red, 1px 2px 0 red, 2px -2px 0 red, 2px -1px 0 red, 2px 0px 0 red, 2px 1px 0 red, 2px 2px 0 red;
}
/* pryc s hnusnyma sipkama */
.uk-nav-parent-icon > .uk-parent > a:after {
  content: "";
}
.uk-nav-parent-icon > .uk-parent.uk-open > a:after {
  content: "";
}
#sort-by-label {
  text-align: right;
}
#sort-price {
  margin: 0 10px;
}
#product-section {
  font-size: 1.4em;
  color: black;
  margin-top: 30px;
}
#product-section > .uk-grid > div {
  text-align: center;
}
#search-row {
  height: 50px;
}
#search-row > input,
#search-row select {
  height: 35px;
}
#searchbox {
  padding: 0;
  font-size: 20px;
  height: 35px;
}
#product-list > div {
  padding: 5px;
}
#product-list .product {
  height: 330px;
  border: 1px solid black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(200, 200, 200, 0.8)), to(rgba(255, 255, 255, 0.9)));
  background-image: -moz-linear-gradient(rgba(200, 200, 200, 0.8) 0%, rgba(255, 255, 255, 0.9) 95%);
  border-radius: 8px;
  padding-top: 8px;
  box-shadow: 0px 0px 1px 1px grey;
}
#product-list .product:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(200, 200, 200, 0.8)));
  background-image: -moz-linear-gradient(rgba(200, 200, 200, 0.8) 0%, rgba(255, 255, 255, 0.9) 95%);
  box-shadow: 0px 0px 5px 2px black;
}
#product-list .product > img {
  margin: 8px auto 36px auto;
  display: block;
}
#product-list .product .product-price {
  font-size: 2em;
  margin-left: 16px;
}
.into-cart i {
  padding: 0 8px;
  border-radius: 4px;
}
.into-cart i:hover {
  background-color: black;
  color: #FFFF57;
  cursor: pointer;
}
@media screen and (max-width: 959px) {
  #eshop-menu-container > ul {
    position: initial;
  }
}
