html,
body {
  position: relative;
  margin: 0;
  padding: 0;
}
nav#main-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #242424;
  z-index: 1000;
}
nav#main-menu .menu-items {
  height: 100%;
  position: relative;
  padding: 0;
  margin: 0;
  float: left;
  display: table;
}
nav#main-menu .menu-items li {
  display: table-cell;
  height: 100%;
  padding: 0 15px 0 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #B8B800;
  border-top: 6px solid #242424;
  border-bottom: 6px solid #242424;
  vertical-align: middle;
}
nav#main-menu .menu-items li a {
  color: #B8B800;
  text-decoration: none;
}
nav#main-menu .menu-items li:hover {
  cursor: pointer;
  border-top: 6px solid #B8B800;
  border-bottom: 6px solid #B8B800;
}
nav#main-menu .menu-items li.active {
  border-top: 6px solid #B8B800;
  border-bottom: 6px solid #B8B800;
}
nav#main-menu .brand {
  display: table;
  height: 100%;
  float: left;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1.4em;
  color: #B8B800;
  font-weight: bold;
  text-shadow: 1px 1px yellow;
  margin-top: -4px;
}
nav#main-menu .brand > span {
  display: table-cell;
  vertical-align: middle;
}
#page-wrapper {
  margin-top: 60px;
}
