html, body {
    position: relative;
    margin: 0;
    padding: 0;
}

@mainMenuHeight: 60px;
@mainMenuBackground: #242424;

nav#main-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @mainMenuHeight;
    background-color: @mainMenuBackground;
    z-index: 1000;

    .menu-items {
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        float: left;

        li {
            display: inline-block;
            height: 100%;
            padding: 0 15px 0 15px;
            font-weight: bold;
            font-size: 1.2em;
            color: #B8B800;
            border-top: 4px solid @mainMenuBackground;

            a {
                color: #B8B800;
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                border-top: 4px solid #B8B800;
            }

            &.active {
                border-top: 4px solid #B8B800;
            }
        }
    }

    .brand {
        height: 100%;
        float: left;
        margin-right: 30px;
        font-size: 1.4em;
    }
}

#page-wrapper {
    margin-top: @mainMenuHeight;
}