#logo-block {
    height: 600px;
    position: relative;
    background: url(../svg/sunrays.svg) #FFFF36 center;
    background-size: cover;
    overflow: hidden;
}

#desc-block {
    background-color: #2B2B2B;
    height: 200px;
}